/* Contains Header and setup for body */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
html{
    box-sizing: border-box;
}

body{
    margin: 0;

    background: rgb(35, 35, 35);
    font-family: Tahoma;

    overflow-x: hidden;

    --NeonColour: Hotpink;
    --NeonColourAfter: Aqua;
}

.IntroHead {
    position: relative;
    height: 100vh;

    color: orange;
    background:
    linear-gradient(to top, rgb(10, 10, 10), rgb(10, 10, 10) 10%, rgba(0, 0, 0, 0));
    padding-inline: 10vw;

    font-size: larger;
    text-align: center;

    overflow: hidden;
}
    .IntroHead > img {
        position: absolute;
        left: 0;
        top: 0;

        min-width: 100vw;
        aspect-ratio: 16/9;
        z-index: -1;
    } 

.StickyHeader {
    display: inline-flex;
    position: absolute;
    bottom: 2vh;
    left: 0;

    width: 100%;
    justify-content: center;
}
    .StickyHeader > a {
        color: var(--NeonColour);
        font-size: 2rem;
        font-family: 'Tilt Neon', cursive;
        
        display: block;
        position: sticky;
        top: 0;
        
        height: fit-content;

        padding: .3rem;
        padding-inline: 1rem;
        margin-inline: .5rem;

        border: solid 0.2rem var(--NeonColour);
        border-radius: 0.5rem;
        box-shadow: 
            inset 0 0 0.25rem,
            0 0 0.25rem;
        text-shadow: 0 0 0.3rem;
    }
    .StickyHeader > a:hover,
    .StickyHeader > a:focus{
        color: var(--NeonColourAfter);
        border-color: var(--NeonColourAfter);
        box-shadow: 
            inset 0 0 0.6rem,
            0 0 1rem;
        text-shadow: 0 0 .7rem;
        transform: translateY(-0.1rem);
    }
    #CurrPage {
        color: var(--NeonColourAfter);
        border-color: var(--NeonColourAfter);
    }


h1 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 20vh;
}

abbr {
    text-decoration: none;
}

