/* Contains Header and setup for body */
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

html {
    box-sizing: border-box;
    font-size: 1em;
}

body {
    margin: 0;
    position: relative;

    background: rgb(10, 10, 10);
    font-family: Tahoma;

    overflow-x: hidden;

    --NeonColour: orange;
    --NeonColourAfter: aqua;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

#StickyHeader {
        display: inline-flex;
    
        font-size: 2.5vw;
        gap: 4vw;
        z-index: 100;
    
        width: 100%;
        height: 10vh;
        justify-content: center;
        place-items: center;
    
        background: rgb(10, 10, 10);
        isolation: isolate;
    }
    
        #StickyHeader > a {
            color: var(--NeonColour);
            font-family: "Tilt Neon", cursive;
    
            display: block;
            position: sticky;
            top: 0;
    
            height: fit-content;
            padding: 1.1vh;
            padding-inline: 5vh;
    
            border: solid 0.6vh var(--NeonColour);
            border-radius: 1.4vh;
            box-shadow: inset 0 0 1.5vh var(--NeonColour), 0 0 1.5vh var(--NeonColour);
            text-shadow: 0 0 2vh;
        }
    
            #StickyHeader>a:hover,
            #StickyHeader>a:focus,
            #CurrPage {
                color: var(--NeonColourAfter) !important;
                border-color: var(--NeonColourAfter) !important;
                box-shadow: inset 0 0 3.5vh, 0 0 3.5vh !important;
                text-shadow: 0 0 4vh !important;
                transform: translateY(-0.1rem) !important;
            }
    
        #StickyHeader::after {
            content: '';
            position: absolute;
        
            width: inherit;
            height: 5vh;
            bottom: -0.65vh;
            background: inherit;
        
            z-index: -1;
            transform: skewY(0.4deg);
        
            box-shadow: 
                0 3px 3px 0 orange; 
        }

.BookPage, #BookPreview {
    background: rgb(229, 233, 220);
    height: fit-content;
    width: fit-content;
    box-shadow:
    -3px -3px 5px 7px gray,
    0 -7px 0 10px rgb(229, 233, 220),
    3px -5px 5px 10px gray,
    0 -14px 0 20px rgb(229, 233, 220),
    3px -12px 5px 20px gray,
    0 -21px 0 30px rgb(229, 233, 220),
    3px -19px 5px 30px gray,
    0 -28px 0 40px rgb(229, 233, 220),
    3px -26px 5px 40px gray,
    0 -35px 0 50px rgb(229, 233, 220),
    0 -40px 0 60px rgb(97, 64, 21),
    1px -35px 0 60px rgb(69, 45, 15);
}
    #BookPreview > img {
        width: 18%;
        height: 200px;
        margin-top: 30px;
        margin-left: 1%;
        box-shadow: 1px 1px 5px black;
    }
    #BookPreview > p {
        font-size: 250%;
        font-family: sans-serif;
        text-align: center;
        font-weight: bold;
        padding: 5vh;
    }
    #BookPreview > p > a {
        text-decoration: none;
        color: var(--NeonColour);
    }
    #BookPreview > p > a:hover,
    #BookPreview > p > a:focus {
        color: var(--NeonColourAfter);
        text-shadow: 0 0 7px var(--NeonColourAfter);
    }
.Frame {
    position: relative;
    width: 43vw;
    height: 50vh;
    margin: 30vh 0 10vh 40vw; /* Move everything together with these controls */
    z-index: 0;

    overflow: wrap;
    color: gainsboro;
}
    .Frame::before{
        content: '';
        position: absolute;
        inset: 0;
        margin: auto;
        top: -19vh;
        left: -5vw;
        z-index: -2;

        width: 60vw;
        aspect-ratio: 100/66;
        background: url(./Assets/Img/ScreenFrame.png);
        background-size: cover;
    }
    .Frame > img {
        position: absolute;
        width: 23vw;
        height: auto;
        top: -17vh;
        left: -35vw;
        transform: rotate(5deg);
        outline: 2px solid var(--NeonColour);
    }
        /* .Frame > img::after{
            content: '';
            display: block;
            position: absolute;
            background: url(./Assets/Img/ImgFrame.png);
            width: 50vw;
            aspect-ratio: 1/1;
            
        } */

footer {
background: rgb(20, 20, 20);
color: white;
margin-inline: 10vw;
width: 80vw;
height: 7vh;
border-radius: 1vw 1vw 0 0;
}
    footer > p {
        padding-top: 2vh;
        text-align: center;
        font-size: large;
    }

#ImgBG {
position: fixed;

width: 100vw;
height: auto;

top: 0;
left: 0;
z-index: -10;

filter: blur(5px);
}

section {
    background: linear-gradient(rgb(35, 35, 35, 0) 0%, rgb(35, 35, 35) 95%, rgb(35, 35, 35) 100%);
    overflow: hidden;
    box-shadow: 0 150px rgb(35, 35, 35);
}

hr {
    margin-block: 5vh;
    width: 30vw;
    border-radius: 3px;
    border: 3px solid var(--NeonColour);
    box-shadow: 0 0 2vw var(--NeonColour),
                -35vw 0 var(--NeonColourAfter),
                -35vw 0 2vw var(--NeonColourAfter),
                35vw 0 var(--NeonColourAfter),
                35vw 0 2vw var(--NeonColourAfter);
    border-inline: -1px solid;
}

a {
    color: var(--NeonColour);
}
a:hover, a:focus {
    color: var(--NeonColourAfter);
}