/* Contains Header and setup for body */
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

:root {
    --NeonColour: orange;
    --NeonColourAfter: aqua;

    --imgWidth: 23vw;
    --AspectRatio: 10/14;
    --topVal: -13vh;
    --leftVal: -35vw;
    --rotateImg: rotate(5deg);
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;

    background: rgb(10, 10, 10);
    font-size: 1.35vw;
    font-family: Tahoma;

    overflow-x: hidden;

    
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

#StickyHeader {
        display: inline-flex;
    
        font-size: 2.5vw;
        gap: 4vw;
        z-index: 100;
    
        width: 100%;
        height: 10vh;
        justify-content: center;
        place-items: center;
    
        background: rgb(10, 10, 10);
        isolation: isolate;
    }
    
        #StickyHeader > a {
            color: var(--NeonColour);
            font-family: "Tilt Neon", cursive;
    
            display: block;
            position: sticky;
            top: 0;
    
            height: fit-content;
            padding: 1.1vh;
            padding-inline: 5vh;
    
            border: solid 0.6vh var(--NeonColour);
            border-radius: 1.4vh;
            box-shadow: inset 0 0 1.5vh var(--NeonColour), 0 0 1.5vh var(--NeonColour);
            text-shadow: 0 0 2vh;
        }
    
            #StickyHeader>a:hover,
            #StickyHeader>a:focus,
            #CurrPage {
                color: var(--NeonColourAfter) !important;
                border-color: var(--NeonColourAfter) !important;
                box-shadow: inset 0 0 3.5vh, 0 0 3.5vh !important;
                text-shadow: 0 0 4vh !important;
                transform: translateY(-0.1rem) !important;
            }
    
        #StickyHeader::after {
            content: '';
            position: absolute;
        
            width: inherit;
            height: 5vh;
            bottom: -0.65vh;
            background: inherit;
        
            z-index: -1;
            transform: skewY(0.4deg);
        
            box-shadow: 
                0 3px 3px 0 orange; 
        }

.BookPage, #BookPreview {
    background: rgb(229, 233, 220);
    height: fit-content; /* Decided to let the book take as much space as it needed... can cause strething sometimes */
    width: fit-content;
    box-shadow:        /* The Book effect used here just used ulternationg solid white and shadowy gray */     
    -3px -3px 5px 7px gray,
    0 -7px 0 10px rgb(229, 233, 220),
    3px -5px 5px 10px gray,
    0 -14px 0 20px rgb(229, 233, 220),
    3px -12px 5px 20px gray,
    0 -21px 0 30px rgb(229, 233, 220),
    3px -19px 5px 30px gray,
    0 -28px 0 40px rgb(229, 233, 220),
    3px -26px 5px 40px gray,
    0 -35px 0 50px rgb(229, 233, 220),
    0 -40px 0 60px rgb(97, 64, 21),
    1px -35px 0 60px rgb(69, 45, 15); /* Excluding the cover which was brown for aestetic purposes */
}
    #BookPreview > img {
        width: 18%;         /* All images withing the book have a set width allowance and a set height */
        height: 200px;
        margin-top: 30px;
        margin-left: 1%;
        box-shadow: 1px 1px 5px black;
    }
    #BookPreview > p {
        font-size: 250%;
        font-family: sans-serif; /* Hadnt planned to link through the page but use a paragraph instead */
        text-align: center;
        font-weight: bold;
        padding: 5vh;
    }
    #BookPreview > p > a {
        text-decoration: none; /* But then i got advised it may be wise to try to stay consistent with styling */
        color: var(--NeonColour);
    }
    #BookPreview > p > a:hover,
    #BookPreview > p > a:focus {
        color: var(--NeonColourAfter);
        text-shadow: 0 0 7px var(--NeonColourAfter);
    }
.Frame{
    position: relative;
    width: 43vw;
    height: 50vh;
    margin: 30vh 0 10vh 40vw; /* Move everything together with these controls */
    z-index: 0;
    /* If i had used more divs the frames would have worked more seamlessly but i decided to challage myself with html restrictions */
    color: gainsboro;
}
    .Frame::before{
        content: ''; /* ...so i used this for the Frame i used */
                    /* PS i apalogise for the Text Frames i am not good with image editing*/
        position: absolute;
        inset: 0;
        margin: auto;
        top: -19vh; /* Really specific to achive something i could be proud of*/
        left: -5vw;
        z-index: -2;

        width: 60vw;
        aspect-ratio: 100/66;
        background: url(./Assets/Img/ScreenFrame.png);
        background-size: cover;
    }
    .Frame > img {
        display: block;
        position: absolute;
        width: var(--imgWidth);
        aspect-ratio: var(--AspectRatio);
        top: var(--topVal);
        left: var(--leftVal);
        transform: var(--rotateImg);
        outline: 2px solid var(--NeonColour);
        /* border-bottom-left-radius: 20px; */
    }
        /*cant use img::before because of its position: absolute;     <--Read-Me- */            
         /* .Frame::after {  
            position: absolute;
            content: '';
            background: url(./Assets/Img/ImgFrame.png);
            width: calc(var(--imgWidth) + 25px);
            aspect-ratio: var(--AspectRatio);
            top: calc(var(--topVal) - 6px);
            left: calc(var(--leftVal) - 20px);
            transform: var(--rotateImg);
            background-repeat: no-repeat;
        }
        .Frame:nth-of-type(even)::after {
            transform: rotate(-5deg);
            left: calc(63vw - 18px);
        } */

footer {
background: rgb(20, 20, 20);
color: white;   /* Creddditttts */
margin-inline: 10vw;
width: 80vw;
height: 7vh;
border-radius: 1vw 1vw 0 0;
}
    footer > p {
        padding-top: 2vh;
        text-align: center;
        font-size: large;
    }

#ImgBG {
position: fixed;    /* This trick uses a fixed image that spans the whole page */
            /* Then the image is pushed to the backgroud, from then on i could
             experiment with transparent background in the foreground elements*/
width: 100vw;
height: auto;

top: 0;
left: 0;
z-index: -10;

filter: blur(5px);
}

section {
    background: linear-gradient(rgb(35, 35, 35, 0) 0%, rgb(35, 35, 35) 95%, rgb(35, 35, 35) 100%);
    overflow: hidden;   /* ...For example this one goes from clear up top to translucent as the image goes down */
    box-shadow: 0 150px rgb(35, 35, 35);
}

hr {    /* HR is usually just a line through, decided neon lights would work better */
    margin-block: 5vh;
    width: 30vw; /* 30 percent the width of the screen for each of the three neon lights*/
    border-radius: 3px;
    border: 3px solid var(--NeonColour);
    box-shadow: 0 0 2vw var(--NeonColour), /* box shadow was used to achive the separated lights */
                -35vw 0 var(--NeonColourAfter), /* Hue change animation may have livened  them up a bit more */
                -35vw 0 2vw var(--NeonColourAfter),
                35vw 0 var(--NeonColourAfter),
                35vw 0 2vw var(--NeonColourAfter);
    border-inline: -1px solid;
}

a {
    color: var(--NeonColour);
}
a:hover, a:focus {
    color: var(--NeonColourAfter);
}